* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  color:white;
  background-color: hsl(45, 15%, 15%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button {
  display: block;
  margin: auto;
  font-size: 1rem;
}

.heading {
  background-color: hsl(120, 25%, 25%);
  padding: 0.5rem;
}
.scores {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  padding: 0.2rem;
  margin: 0.5rem 0;
}
.numeric-score {
  display: inline-block;
}
.score svg {
  margin: 0 1rem;
}
.reset {
  padding: 0.5rem;
  font-size: 1rem;
  display: block;
  margin-left: auto;
  margin-right: 2rem;
}
.dice {
  padding: 0.5rem;
}
.dice-icon {
  font-size: 3rem;
}
.pass {
  padding: 0.5rem;
  margin: 1rem auto;
}
.winner{
    font-size: 3rem;
}